{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "react-app"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-shadow": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "space-before-function-paren": "off",
    "react/jsx-boolean-value": "off",
    "semi": "off",
    "react/prop-types": "off"
  }
}
